:root{
    --main-text: #000;
    --secondary-text: #4D4D4D;

    --font: 'Archivo', sans-serif;

    --regular: 400;
    --medium: 500;
    --semibold: 600;

    --xsmall-font: 12px;
    --small-font: 18px;
    --medium-font: 27px;
    --big-font: 36px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    background-image: url(src/Morning.jpg); /* ** temp */
}


/* ! LOADING SCREEN */


.loading-screen{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 9999;
}

.loading-screen div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-text{
    margin-top: 20px;
    font-size: var(--big-font);
    font-weight: var(--semibold);
    z-index: 2;
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.loading{
    animation: spin 5s infinite linear forwards;
}

.white-bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, .5);
}

@keyframes animateWhite {
    0%{
        transform: translateY(0px);
    }100%{
        transform: translateY(150vh);
    }
}

.animate-white{
    animation: animateWhite 1s forwards;
}

/* ! CONTAINER */

@keyframes fadeInContainer {
    0%{
        transform: scale(.8);
    }100%{
        transform: scale(1);
    }
}

.fade-in-container{
    animation: fadeInContainer .5s forwards;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-top: 20px;
}

@media (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.panel{
    backdrop-filter: blur(5px); 
    background-color: rgba(217, 217, 217, .5);
    border-radius: 5px;
    font-family: var(--font);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ! Header */

.mobile-header{
    height: 100px;
    width: calc(100% - 40px);
    display: flex;
    padding: 0px 25px;
    align-items: center;
    justify-content: space-between;
}

.date > :nth-child(1){
    font-size: var(--big-font);
    font-weight: var(--semibold);
}

.date > :nth-child(2){
    color: var(--secondary-text);
}

.location-name{
    font-weight: var(--semibold);
}

.desktop-header{
    display: none;
}


@media (min-width: 1001px) {
    .mobile-header{
        display: none;
    }

    .container{
        padding: 40px;
    }

    .date{
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--small-font);
    }

    .date >  :nth-child(2){
        margin-top: 5px;
    }

    .desktop-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .location{
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
    }

    .location-name{
        font-size: var(--medium-font);
    }

    .country-name{
        font-size: var(--small-font);
        color: var(--secondary-text);
    }


}

/*! SECTION */

.section{
    margin-top: 30px;
    width: calc(100vw - 40px);
}

/* ? CURRENT WEATHER */

.current{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0px;
    align-items: center;
}

.current-last-updated{
    font-size: var(--xsmall-font);
    color: var(--secondary-text);
    margin-top: 30px;
}

.current-weather{
    display: flex;
    align-items: center;
}

.current-degree{
    font-size: var(--big-font);
    font-weight: var(--semibold);
    margin-top: 10px;
}

.current-text{
    font-size: var(--small-font);
    color: var(--secondary-text);
    margin-top: 5px;
}

.current-weather div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 1001px){

    .section{
        width: calc(100vw - 80px);
    }

    .left{
        width: 200px;
    }

    .current-weather{
        flex-direction: column;
    }

    .current{
        height: 250px;
    }

    .wind{
        flex-direction: column;
    }

}

/* ? Wind and set */

.wind{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.wind div{
    display: flex;
    align-items: center;
    width: 130px;
}

.wind > :nth-child(2){
    margin-left: 20px;
}

.wind div p{
    margin-left: 30px;
}

.set{
    font-size: var(--xsmall-font);
    margin-top: 30px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px;
}

.set div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.set p {
    margin-left: 8px;
}